* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: white;
}

p {
  font-family: "Poppins";
  margin-top: 6px;
  font-size: 13px;
  color: red;
}

.container {
  background-color: #03787c;
  padding-top: 50px;
  min-width: 100vw;
  min-height: 100vh;
}

@media (width >= 550px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-container {
  background-color: #e6f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  margin-top: 35px;
  border-radius: 5px;
}

@media (width >= 550px) {
  .form-container {
    width: 500px;
  }
}

.label-text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

.input-container {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-family: "Poppins";
}

.submit-button {
  background-color: #03787c;
  width: 120px;
  height: 45px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: "Poppins";
  padding: 5px;
  font-size: 16px;
  color: white;
}
